app = "interrato"

[[services]]
  internal_port = 8080
  protocol = "tcp"
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

  [services.concurrency]
  type = "requests"
  soft_limit = 200

  [[services.ports]]
  handlers = ["http"]
  port = 80
  force_https = true
  
  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
