{{ define "content" }}
<h2 class="mb-2 font-bold">Curriculum Vitae</h2>
<div class="tbl-container mb-4">
    <table class="tbl">
        <thead>
            <tr>
                <th colspan="3" class="tbl-header">Employment</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2" class="tbl-data">
                    Jun 2022–Aug 2023
                </td>
                <td rowspan="2" class="tbl-data">
                    Cybersecurity Engineer
                </td>
                <td class="tbl-data">
                    <a class="link" target="_blank" rel="external" title="TEXA S.p.A." href="https://www.texa.it/">TEXA S.p.A.</a>
                </td>
            </tr>
            <tr>
                <td class="tbl-data">
                    Monastier di Treviso, Italy
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="tbl-container mb-4">
    <table class="tbl">
        <thead>
            <tr>
                <th colspan="3" class="tbl-header">Education</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2" class="tbl-data">
                    2023–present
                </td>
                <td class="tbl-data font-medium">
                    Cybersecurity
                </td>
                <td class="tbl-data">
                    <a class="link" target="_blank" rel="external" title="University of Padua" href="https://www.unipd.it/en/">University of Padua</a>
                </td>
            </tr>
            <tr>
                <td class="tbl-data">
                    Second Cycle Degree
                </td>
                <td class="tbl-data">
                    Padua, Italy
                </td>
            </tr>
            <tr>
                <td rowspan="2" class="tbl-data">
                    2018–2022
                </td>
                <td class="tbl-data font-medium">
                    Computer Engineering
                </td>
                <td class="tbl-data">
                    <a class="link" target="_blank" rel="external" title="University of Padua" href="https://www.unipd.it/en/">University of Padua</a>
                </td>
            </tr>
            <tr>
                <td class="tbl-data">
                    First Cycle Degree
                </td>
                <td class="tbl-data">
                    Padua, Italy
                </td>
            </tr>
            <tr>
                <td rowspan="2" class="tbl-data">
                    2013–2018
                </td>
                <td class="tbl-data font-medium">
                    Information Technology
                </td>
                <td class="tbl-data">
                    <a class="link" target="_blank" rel="external" title="I.I.S. Levi–Ponti" href="http://www.leviponti.edu.it/">I.I.S. Levi–Ponti</a>
                </td>
            </tr>
            <tr>
                <td class="tbl-data">
                    Technical Institute Diploma
                </td>
                <td class="tbl-data">
                    Mirano (VE), Italy
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="tbl-container mb-4">
    <table class="tbl table-fixed">
        <thead>
            <tr>
                <th colspan="2" class="tbl-header">Skills</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="2" class="tbl-header font-semibold">Programming Languages</th>
            </tr>
            <tr>
                <td class="tbl-data">
                    Go
                </td>
                <td class="tbl-data p-0">
                    <div class="flex">
                        <div class="data-bar mr-1.5 w-9/12"></div>8/11
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tbl-data">
                    Bash
                </td>
                <td class="tbl-data p-0">
                    <div class="flex">
                        <div class="data-bar mr-1.5 w-9/12"></div>8/11
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tbl-data">
                    C
                </td>
                <td class="tbl-data p-0">
                    <div class="flex">
                        <div class="data-bar mr-1.5 w-8/12"></div>7/11
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tbl-data">
                    JavaScript
                </td>
                <td class="tbl-data p-0">
                    <div class="flex">
                        <div class="data-bar mr-1.5 w-7/12"></div>6/11
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tbl-data">
                    Nix
                </td>
                <td class="tbl-data p-0">
                    <div class="flex">
                        <div class="data-bar mr-1.5 w-6/12"></div>5/11
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tbl-data">
                    SQL
                </td>
                <td class="tbl-data p-0">
                    <div class="flex">
                        <div class="data-bar mr-1.5 w-6/12"></div>5/11
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tbl-data">
                    Lua
                </td>
                <td class="tbl-data p-0">
                    <div class="flex">
                        <div class="data-bar mr-1.5 w-6/12"></div>5/11
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tbl-data">
                    Python
                </td>
                <td class="tbl-data p-0">
                    <div class="flex">
                        <div class="data-bar mr-1.5 w-5/12"></div>4/11
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tbl-data">
                    C++
                </td>
                <td class="tbl-data p-0">
                    <div class="flex">
                        <div class="data-bar mr-1.5 w-4/12"></div>3/11
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tbl-data border-b-0">
                    Java
                </td>
                <td class="tbl-data p-0 border-b-0">
                    <div class="flex">
                        <div class="data-bar mr-1.5 w-4/12"></div>3/11
                    </div>
                </td>
            </tr>
            <tr>
                <th colspan="2" class="tbl-header font-semibold">Tools</th>
            </tr>
            <tr>
                <td class="tbl-data">
                    Vim/Neovim
                </td>
                <td class="tbl-data p-0">
                    <div class="flex">
                        <div class="data-bar mr-1.5 w-9/12"></div>8/11
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tbl-data">
                    Git
                </td>
                <td class="tbl-data p-0">
                    <div class="flex">
                        <div class="data-bar mr-1.5 w-8/12"></div>7/11
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tbl-data">
                    Linux
                </td>
                <td class="tbl-data p-0">
                    <div class="flex">
                        <div class="data-bar mr-1.5 w-7/12"></div>6/11
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tbl-data">
                    Burp Suite
                </td>
                <td class="tbl-data p-0">
                    <div class="flex">
                        <div class="data-bar mr-1.5 w-6/12"></div>5/11
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tbl-data">
                    Latex
                </td>
                <td class="tbl-data p-0">
                    <div class="flex">
                        <div class="data-bar mr-1.5 w-5/12"></div>4/11
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="tbl-container mb-6">
    <table class="tbl">
        <thead>
            <tr>
                <th colspan="3" class="tbl-header">Languages</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tbl-data">
                    Italian
                </td>
                <td class="tbl-data">
                    L1
                </td>
                <td class="tbl-data">
                    Native language
                </td>
            </tr>
            <tr>
                <td rowspan="3" class="tbl-data">
                    English
                </td>
                <td class="tbl-data">
                    B2—Reading and Listening
                </td>
                <td class="tbl-data">
                    Issued by University of Padua
                </td>
            </tr>
            <tr>
                <td class="tbl-data">
                    B1—Speaking
                </td>
                <td class="tbl-data">
                    Self–assessment
                </td>
            </tr>
            <tr>
                <td class="tbl-data">
                    B1—Writing
                </td>
                <td class="tbl-data">
                    Self–assessment
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<a class="btn suffix-r-arrow mb-4 bg-signal-yellow" href="https://raw.githubusercontent.com/BuriedInTheGround/unsafe-scaffold/main/cv/en/cv.pdf">PDF version (English)</a>
<br>
<a class="btn suffix-r-arrow mb-6 bg-signal-yellow" href="https://raw.githubusercontent.com/BuriedInTheGround/unsafe-scaffold/main/cv/it/cv.pdf">PDF version (Italian)</a>
{{ end }}
