{{ define "main" }}
<div class="columns">
    <div class="column-left">
        <p>I’m a software developer and computer engineer. I have a strong interest in online
            privacy and information security issues.</p>

        <p>I love cryptography, network protocols, reproducible software builds, and martial
            arts!</p>
    </div>
    <div class="column-right">
        <table>
            <tbody>
                <tr>
                    <th scope="row">Email</th>
                    <td>
                        <a href="mailto:hi@interrato.dev" rel="noreferrer">hi@interrato.dev</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">GitHub</th>
                    <td>
                        <a href="https://github.com/BuriedInTheGround" rel="external noreferrer" target="_blank">BuriedInTheGround</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Twitter</th>
                    <td>
                        <a href="https://twitter.com/BuriedInTheGnd" rel="external noreferrer" target="_blank">BuriedInTheGnd</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Fediverse</th>
                    <td>
                        <a href="https://ioc.exchange/@interrato" rel="external noreferrer" target="_blank">@interrato@ioc.exchange</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Bluesky</th>
                    <td>
                        <a href="https://bsky.app/profile/interrato.dev" rel="external noreferrer" target="_blank">@interrato.dev</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<hr>

<h2>Projects</h2>

<div class="overflow-x-auto">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Summary</th>
                <th>Link</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Perpetua</td>
                <td class="min-w-[16rem]">Lightness–calibrated, unique natural hues for the tireless artisan.</td>
                <td>
                    <a href="https://perpetuatheme.com/" rel="external noreferrer" target="_blank">perpetuatheme.com</a>
                </td>
                <td class="py-0.5"><code class="sp-green tracking-wider whitespace-nowrap">ACTIVE</code></td>
            </tr>
            <tr>
                <td>olaf</td>
                <td class="min-w-[16rem]">A simple multi-clipboard system.</td>
                <td>
                    <a href="https://interrato.dev/olaf" rel="external noreferrer" target="_blank">interrato.dev/olaf</a>
                </td>
                <td class="py-0.5"><code class="sp-green tracking-wider whitespace-nowrap">ACTIVE</code></td>
            </tr>
            <tr>
                <td>carbonize</td>
                <td class="min-w-[16rem]">A simple CLI tool for opening any textual content with Carbon.</td>
                <td>
                    <a href="https://interrato.dev/carbonize" rel="external noreferrer" target="_blank">interrato.dev/carbonize</a>
                </td>
                <td class="py-0.5"><code class="sp-green tracking-wider whitespace-nowrap">ACTIVE</code></td>
            </tr>
            <tr>
                <td>fine</td>
                <td class="min-w-[16rem]">A Finite State Machine Go library, kept simple.</td>
                <td>
                    <a href="https://interrato.dev/fine" rel="external noreferrer" target="_blank">interrato.dev/fine</a>
                </td>
                <td class="py-0.5"><code class="sp-yellow tracking-wider whitespace-nowrap">ON HOLD</code></td>
            </tr>
            <tr>
                <td>pigowa</td>
                <td class="min-w-[16rem]">Go interface for using p5.js in the browser, exploiting the power of WebAssembly.</td>
                <td>
                    <a href="https://interrato.dev/pigowa" rel="external noreferrer" target="_blank">interrato.dev/pigowa</a>
                </td>
                <td class="py-0.5"><code class="sp-black tracking-wider whitespace-nowrap">CANCELED</code></td>
            </tr>
        </tbody>
    </table>
</div>
{{ end }}
