{{ define "content" }}
<div class="flex-wrap flex">
    <div class="px-2 mb-6 w-full sm:w-1/2">
        <p class="mb-4">
            I'm a software developer and computer engineer. I have
            a strong interest in online privacy and information
            security issues.
        </p>
        <p>
            I love cryptography, network protocols, reproducible
            software builds, and martial arts!
        </p>
    </div>
    <div class="px-2 mb-6 w-full sm:w-1/2">
        <div class="tbl-container">
            <table class="tbl">
                <thead>
                    <tr>
                        <th colspan="2" class="tbl-header">Contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="tbl-data font-normal text-left whitespace-nowrap">
                            <i class="svg-icon relative top-[-0.075em] mr-1">
                                <svg stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor">
                                    <path d="M7 9l5 3.5L17 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M2 17V7a2 2 0 012-2h16a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2z" stroke="currentColor" stroke-width="1.5"></path>
                                </svg>
                            </i>Email
                        </th>
                        <td class="tbl-data">
                            <a class="link" href="mailto:hi@interrato.dev">hi@interrato.dev</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="tbl-data font-normal text-left whitespace-nowrap">
                            <i class="svg-icon relative top-[-0.075em] mr-1">
                                <svg stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor">
                                    <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M14.333 19v-1.863c.025-.31-.018-.62-.126-.913a2.18 2.18 0 00-.5-.781c2.093-.227 4.293-1 4.293-4.544 0-.906-.358-1.778-1-2.434a3.211 3.211 0 00-.06-2.448s-.787-.227-2.607.961a9.152 9.152 0 00-4.666 0c-1.82-1.188-2.607-.96-2.607-.96A3.211 3.211 0 007 8.464a3.482 3.482 0 00-1 2.453c0 3.519 2.2 4.291 4.293 4.544a2.18 2.18 0 00-.496.773 2.134 2.134 0 00-.13.902V19M9.667 17.702c-2 .631-3.667 0-4.667-1.948" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </i>GitHub
                        </th>
                        <td class="tbl-data">
                            <a class="link" target="_blank" rel="me external" href="https://github.com/BuriedInTheGround">BuriedInTheGround</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="tbl-data font-normal text-left whitespace-nowrap">
                            <i class="svg-icon relative top-[-0.075em] mr-1">
                                <svg stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor">
                                    <path d="M23 3.01s-2.018 1.192-3.14 1.53a4.48 4.48 0 00-7.86 3v1a10.66 10.66 0 01-9-4.53s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5 0-.278-.028-.556-.08-.83C21.94 5.674 23 3.01 23 3.01z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </i>Twitter
                        </th>
                        <td class="tbl-data">
                            <a class="link" target="_blank" rel="me external" href="https://twitter.com/BuriedInTheGnd">BuriedInTheGnd</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr>
<div class="flex-wrap flex">
    <div class="px-2 mb-6 w-full">
        <h2 class="mb-2 font-bold">Projects</h2>
        <div class="tbl-container">
            <table class="tbl">
                <thead>
                    <tr>
                        <th class="tbl-header">Status</th>
                        <th class="tbl-header">Name</th>
                        <th class="tbl-header">Description</th>
                        <th class="tbl-header">Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tbl-data whitespace-nowrap">
                            Active
                        </td>
                        <td class="tbl-data">
                            Perpetua
                        </td>
                        <td class="tbl-data">
                            Lightness–calibrated, unique natural hues for the tireless artisan.
                        </td>
                        <td class="tbl-data">
                            <a class="link" target="_blank" rel="external" title="View Project - Perpetua Theme" href="https://perpetuatheme.com/">Project</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbl-data whitespace-nowrap">
                            Active
                        </td>
                        <td class="tbl-data">
                            olaf
                        </td>
                        <td class="tbl-data">
                            A simple multi-clipboard system.
                        </td>
                        <td class="tbl-data">
                            <a class="link" target="_blank" rel="external" title="View Project - olaf" href="https://interrato.dev/olaf">Project</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbl-data whitespace-nowrap">
                            Active
                        </td>
                        <td class="tbl-data">
                            carbonize
                        </td>
                        <td class="tbl-data">
                            A simple CLI tool for opening any textual content with Carbon.
                        </td>
                        <td class="tbl-data">
                            <a class="link" target="_blank" rel="external" title="View Project - carbonize" href="https://interrato.dev/carbonize">Project</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbl-data whitespace-nowrap">
                            On Hold
                        </td>
                        <td class="tbl-data">
                            fine
                        </td>
                        <td class="tbl-data">
                            A Finite State Machine Go library, kept simple.
                        </td>
                        <td class="tbl-data">
                            <a class="link" target="_blank" rel="external" title="View Project - fine" href="https://interrato.dev/fine">Project</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbl-data whitespace-nowrap">
                            Canceled
                        </td>
                        <td class="tbl-data">
                            pigowa
                        </td>
                        <td class="tbl-data">
                            Go interface for using p5.js in the browser, exploiting the power of WebAssembly.
                        </td>
                        <td class="tbl-data">
                            <a class="link" target="_blank" rel="external" title="View Project - pigowa" href="https://interrato.dev/pigowa">Project</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ end }}
