{{ define "main" }}
<h1>Resume</h1>

<h2>Employment</h2>

<div class="overflow-x-auto">
    <table>
        <thead>
            <tr>
                <th>Years</th>
                <th>Job title</th>
                <th>Employer</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">Nov 2025–Nov 2026</td>
                <td rowspan="2">Researcher (grant)</td>
                <td>
                    <a href="https://www.unipd.it/en/" rel="external noreferrer" target="_blank">University of Padua</a>
                </td>
            </tr>
            <tr>
                <td>Padua, Italy</td>
            </tr>
            <tr>
                <td rowspan="2">Jun 2022–Aug 2023</td>
                <td rowspan="2">Cybersecurity engineer</td>
                <td>
                    <a href="https://www.texa.it/" rel="external noreferrer" target="_blank">TEXA S.p.A.</a>
                </td>
            </tr>
            <tr>
                <td>Monastier di Treviso, Italy</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>Education</h2>

<div class="overflow-x-auto">
    <table>
        <thead>
            <tr>
                <th>Years</th>
                <th>Qualification</th>
                <th>Institution</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">2023–2025</td>
                <td>Cybersecurity</td>
                <td>
                    <a href="https://www.unipd.it/en/" rel="external noreferrer" target="_blank">University of Padua</a>
                </td>
            </tr>
            <tr>
                <td>Second cycle degree</td>
                <td>Padua, Italy</td>
            </tr>
            <tr>
                <td rowspan="2">2018–2022</td>
                <td>Computer Engineering</td>
                <td>
                    <a href="https://www.unipd.it/en/" rel="external noreferrer" target="_blank">University of Padua</a>
                </td>
            </tr>
            <tr>
                <td>First cycle degree</td>
                <td>Padua, Italy</td>
            </tr>
            <tr>
                <td rowspan="2">2013–2018</td>
                <td>Information Technology</td>
                <td>
                    <a href="https://www.leviponti.edu.it/" rel="external noreferrer" target="_blank">I.I.S. Levi–Ponti</a>
                </td>
            </tr>
            <tr>
                <td>Technical institute diploma</td>
                <td>Mirano (VE), Italy</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>Programming languages</h2>

<div class="overflow-x-auto">
    <table>
        <thead>
            <tr>
                <th>Knowledge level</th>
                <th>Languages (order matters)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Comfortable</td>
                <td>Go, Bash, C</td>
            </tr>
            <tr>
                <td>Familiar</td>
                <td>Python, JavaScript, Nix, SQL, Lua, C++, Java</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>Software tools</h2>

<div class="overflow-x-auto">
    <table>
        <thead>
            <tr>
                <th>Knowledge level</th>
                <th>Tools (order matters)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Comfortable</td>
                <td>Vim/Neovim, Git, LaTeX, Linux</td>
            </tr>
            <tr>
                <td>Familiar</td>
                <td>Burp Suite</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>Languages</h2>

<div class="overflow-x-auto">
    <table>
        <thead>
            <tr>
                <th>Language</th>
                <th>Level</th>
                <th>Certified by</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Italian</td>
                <td>L1</td>
                <td>Native language</td>
            </tr>
            <tr>
                <td rowspan="3">English</td>
                <td>B2—Reading and Listening</td>
                <td>Issued by University of Padua</td>
            </tr>
            <tr>
                <td>B1—Speaking</td>
                <td>Self-assessment</td>
            </tr>
            <tr>
                <td>B1—Writing</td>
                <td>Self-assessment</td>
            </tr>
        </tbody>
    </table>
</div>

<hr>

<p>
    <a href="https://raw.githubusercontent.com/BuriedInTheGround/unsafe-scaffold/main/cv/en/cv.pdf" rel="external noreferrer" target="_blank">Download PDF (outdated)</a>
</p>
<p>
    <a href="https://raw.githubusercontent.com/BuriedInTheGround/unsafe-scaffold/main/cv/it/cv.pdf" rel="external noreferrer" target="_blank">Scarica il PDF (in italiano; obsoleto)</a>
</p>
{{ end }}
