{{ define "scripts" }}
<script defer
    src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.2/dist/sweetalert2.all.min.js"
    integrity="sha256-J+5D76zpkRERiI3Fzew5wbVA08FQRsuHqdsqXCnRD7Q="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{ end }}

{{ define "main" }}
<hgroup>
    <small>{{ .Date }}</small>
    <h1>{{ .Title }}</h1>
</hgroup>
{{ template "content" . }}
{{ if not .Protected }}
<hr>

<button id="share-button" class="link-btn sp-blue mb-4" type="button">Share</button>
<script>
const shareButton = document.getElementById("share-button");
function doShare() {
    const shareData = {title: document.title, url: window.location.href};
    if (navigator.share && navigator.canShare(shareData)) {
        navigator.share(shareData).catch(console.error);
    } else if (navigator.clipboard) {
        navigator.clipboard.writeText(shareData.url).catch(console.error);
        Swal.fire({
            title: "Link copied to clipboard",
            icon: "success",
            toast: true,
            position: "bottom-start",
            showConfirmButton: false,
            timer: 5000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });
    } else {
        Swal.fire({
            title: "Unable to share directly",
            text: "Please copy the URL from the address bar manually.",
            icon: "info",
        });
    }
}
shareButton.addEventListener("click", doShare);
</script>

<p>Things might have changed since this note was published. If anything seems
    wrong or confusing, feel free to reach out.</p>
{{ end }}
{{ end }}
