{{ define "scripts" }}
<script defer
    src="https://unpkg.com/htmx.org@2.0.0"
    integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{ end }}

{{ define "content" }}
<div id="protected-area">
    <div class="safety-notice">
        <p>
            This is a protected note. If you are authorized, you can unlock
            this page with the correct passphrase.
        </p>
    </div>

    <form hx-post="{{ .Path }}" hx-target="body">
        <label>
            <span>Passphrase</span>
            <input type="password" name="passphrase" placeholder="************" required>
        </label>

        <button class="link-btn sp-green" type="submit">Proceed</button>
    </form>
</div>
{{ end }}
