<div class="safety-warning">
<mark class="sp-yellow">
<div class="columns">
<div class="column-left">
<p class="py-10 lg:py-20 text-3xl lg:text-4xl text-center">
<div class="column-right">
<figure class="mx-6">
<img class="w-full border-0">
<figcaption class="text-center">
<mark class="sp-yellow">
<mark class="sp-yellow">
<mark class="sp-yellow">
<mark class="sp-yellow">
<mark class="sp-yellow">
<mark class="sp-yellow">
<mark class="sp-yellow">
<th class="w-6/12">
<th class="w-6/12">
<tbody class="align-top">
<th class="w-6/12">
<th class="w-6/12">
<tbody class="align-top">
