@font-face {
    font-family: "Nunito Sans";
    /* font-style: normal; */
    font-optical-sizing: auto;
    font-weight: 200 1000;
    font-variation-settings:
        "wdth" 97,  /* from  75 to 125 */
        "YTLC" 495; /* from 440 to 540 */
    font-display: swap;
    src: url("fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.woff2") format("woff2"),
         url("fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Nunito Sans";
    font-style: italic;
    font-optical-sizing: auto;
    font-weight: 200 1000;
    font-variation-settings:
        "wdth" 97,  /* from  75 to 125 */
        "YTLC" 495; /* from 440 to 540 */
    font-display: swap;
    src: url("fonts/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.woff2") format("woff2"),
         url("fonts/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Red Rose";
    /* font-style: normal; */
    font-weight: 300 700;
    font-display: swap;
    src: url("fonts/RedRose-VariableFont_wght.woff2") format("woff2"),
         url("fonts/RedRose-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Commit Mono";
    /* font-style: normal; */
    font-weight: 200 700;
    font-feature-settings:
        "ss01", "ss02", "ss03", "ss04", "ss05", "ss06", "cv06", "cv07";
    font-display: swap;
    src: url("fonts/CommitMono-VariableFont.woff2") format("woff2"),
         url("fonts/CommitMono-VariableFont.ttf") format("truetype");
}

@font-face {
    font-family: "Fragment Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/FragmentMono-Regular.woff2") format("woff2"),
         url("fonts/FragmentMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Fragment Mono";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/FragmentMono-Italic.woff2") format("woff2"),
         url("fonts/FragmentMono-Italic.ttf") format("truetype");
}
